.daily-times {
  background: linear-gradient(to bottom, #e4a769, #e1b894);
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);  
  margin: 40px;  

}

.title {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  color: #8f783d;
  text-shadow: 1px 1px 2px #2980b9;  
}

.table {
  width: 100%; 
  border-collapse: collapse;  
}

.cell {
  padding: 10px;
  font-size: 18px; 
  text-align: center; 
  border-bottom: 2px dotted #141212;  
}

.cell:first-child {
  color: #1f1e1a;
  text-align: right;
} 

.cell:last-child {
  color: #3f22e6;
}

/* הנפשות */
.daily-times:hover {
  background: linear-gradient(to left bottom, #f1c40f, #e67e22);  
}

.title:hover {
  transform: scale(1.1); 
}

.cell:hover {
  transform: translateY(-3px);
  box-shadow: 3px 3px 6px #333;
}

/* רקע לכל שורה */  
tr:nth-child(odd) .cell{
  background: rgba(208, 149, 149, 0.05);
}

tr:nth-child(even) .cell{
  background: rgba(0,0,0,0.05);
}