עיצוב כללי לעמוד הבית
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* עיצוב של הגלריה */
  .gallery {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    display: none;
    /* position: absolute; */
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .gallery-image.active {
    display: block;
    animation: fade 5s infinite;
  }
  
  @keyframes fade {
    0%, 20%, 100% { opacity: 1; }
    25%, 95% { opacity: 0; }
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10;
    border-radius: 50%;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  @media (max-width: 768px) {
    .prev,
    .next {
      padding: 8px 12px;
      font-size: 20px;
    }
  }
  
  /* עיצוב הכתבה */
  .article {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
  }
  
  .article .title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .article .images {
    margin-bottom: 20px;
  }
  
  .article .date, .article .author {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .article .text {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    /* text-align: justify; */
  }
  
  .delete-button, .close-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover, .close-button:hover {
    background-color: #c9302c;
  }
  
  .close-button {
    background-color: #5bc0de;
  }
  
  .close-button:hover {
    background-color: #31b0d5;
  }
  
  @media (max-width: 768px) {
    .article .title {
      font-size: 24px;
    }
  
    .delete-button, .close-button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  /* עיצוב כללי לעמוד הבית */
  #home {
    padding: 20px;
    background-color: #f4f4f4;
    min-height: 100vh;
  }
  
  #home p {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-top: 20px;
  }
  