.login-container {
    text-align: center;
    padding: 20px;
    background-color: #c79a56;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 1000px;
  }
  
  .login-form {
    display: inline-block;
    text-align: left;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    background-color: #0b4266;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #306284;
  }
  
  .login-error {
    color: red;
    margin-top: 10px;
  }
  