.members-container {
    max-width: 800px;
    margin: 20px auto;
    color: rgb(110, 241, 241);
  }
  
  .members-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .members-table th,
  .members-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .members-table th {
    background-color: #925454;
    color: #fff;
  }
  
  .members-table tr:hover {
    background-color: #925454;
  }
  