.navbar {
  position: fixed;
   top: 10px;
  right: 0;
  left: 0; 
  background-color: #080808; 
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  
}
.logo {
  position: fixed;
  top: 10px;
  right: 60px;
  width: 10%;
  border: 5px solid #e67e22; 
  border-radius: 50%;
  padding: 3px;
}
main {
  
  margin-top: 100px;
}

.nav-btn {
  
  display: inline-block;
  padding: 10px 15px;
  color: #151514;
  margin: 10px; 
  background-color: #5a79e9;
  
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px; 
}

.nav-btn:hover {
  background-color: #996d21; 
}


.prayer-times {
  background-color: #161111;
  padding: 20px;
}




.logo-container {
  float: right;
  margin-right: 20px;
}
.nav-links {
  float: left;
  margin-left: 20px; 
  position: fixed;
}
.footer-info {
  padding: 20px; 
  background-color: #1b1717;
  text-align: center; 
  color: #f4f1f1;
}

.footer-info p {
  margin: 8px 0; 
}
.user-name {
  position: fixed;
  margin-left: 40px;
  color: #080808;
  top: 20px;
  left: 20px; 
  background-color: #5a79e9 ;
}