/* Times.css */

.times-container {
  display: flex;
  justify-content: space-between;
}

.tfila-timess{
  width: 70%;
}
.daily-timess {
 width: 20%;
}
.tfila-timess {
  text-align:left;
}

.daily-timess {
  text-align: left;
}
